In [1]:
import pandas as pd
import findspark 
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Exemplo2").getOrCreate()
from pyspark.sql.functions import *
from pyspark.sql import functions as Func

Essa foi minha pesca feita localmente aqui no jupyter para depois levar pro AWS Glue.

Primeiro li o arquivo da trusted já em parquet, e coloquei em um dataframe spark.

In [2]:
df_spark = spark.read.format("parquet").load("completo.parquet")
#criando um dataframe spark com o arquivo parquet da trusted.

In [3]:
df_spark = df_spark.select('Id','Titulo','Popularidade','Lancamento','Nota','Votos','Orçamento','Receita','Duração')

# selecionando apenas os dados que pretendo usar.

In [4]:
df_spark = df_spark.select("*").where(Func.col("Lancamento").between("2008-01-01", "2023-12-31")).orderBy(Func.col("Lancamento"))

# Aqui foi feito um novo filtro nesses dados. organizando os filmes no periodo que foi escolhido. (As 4 fases marvel)

In [5]:
df_spark = df_spark.select("*").where(Func.col("Receita" and "Orçamento") != 0)

# Esse filtro tira os filmes da fase 4 que ainda não foram lançados ou que estão em cartaz. sem dados suficientes para analisar.

In [6]:
df_spark = df_spark.select("*").where(Func.col("Votos") > 2000)

# Mais um filtro que limita a quantidade de votos mínimos;

In [7]:
df_spark.show(100)

+------+--------------------+------------+----------+-----+-----+---------+----------+-------+
|    Id|              Titulo|Popularidade|Lancamento| Nota|Votos|Orçamento|   Receita|Duração|
+------+--------------------+------------+----------+-----+-----+---------+----------+-------+
|  1726|            Iron Man|      93.707|2008-04-30|7.639|25035|140000000| 585174222|    126|
|  1724| The Incredible Hulk|      65.123|2008-06-12|6.206|11093|150000000| 163712074|    114|
| 10138|          Iron Man 2|      99.198|2010-04-28|6.835|19878|200000000| 623933331|    124|
| 10195|                Thor|      82.222|2011-04-21|6.767|20132|150000000| 449326618|    115|
|  1771|Captain America: ...|      56.576|2011-07-22|6.995|20383|140000000| 370569774|    124|
| 24428|        The Avengers|     125.405|2012-04-25|7.711|29325|220000000|1518815515|    143|
| 68721|          Iron Man 3|      71.806|2013-04-18|6.927|21181|200000000|1215577205|    130|
| 76338|Thor: The Dark World|      75.254|2013-10-30|6.534|16460|170000000| 644783140|    112|
|100402|Captain America: ...|      39.976|2014-03-20|7.669|17809|170000000| 714766572|    136|
|118340|Guardians of the ...|      39.039|2014-07-30|  7.9|26800|170000000| 772776600|    121|
| 99861|Avengers: Age of ...|      99.824|2015-04-22|  7.3|21893|365000000|1405403694|    141|
|102899|             Ant-Man|      61.242|2015-07-14|7.081|18835|130000000| 519311965|    117|
|271110|Captain America: ...|     101.612|2016-04-27|7.442|21666|250000000|1155046416|    147|
|284052|      Doctor Strange|      71.359|2016-10-25|7.426|21051|180000000| 676343174|    115|
|283995|Guardians of the ...|      67.355|2017-04-19|7.622|20487|200000000| 863756051|    137|
|315635|Spider-Man: Homec...|      88.429|2017-07-05|7.343|20636|175000000| 880166924|    133|
|284053|      Thor: Ragnarok|      107.72|2017-10-02|7.595|19664|180000000| 855301806|    131|
|284054|       Black Panther|      77.256|2018-02-13|7.388|21165|200000000|1349926083|    135|
|299536|Avengers: Infinit...|     198.291|2018-04-25|  8.3|27943|300000000|2052415039|    149|
|363088|Ant-Man and the Wasp|      44.228|2018-07-04|6.949|12594|140000000| 622674139|    119|
|299537|      Captain Marvel|     105.741|2019-03-06|6.839|14777|152000000|1131416446|    124|
|299534|   Avengers: Endgame|     146.438|2019-04-24|8.261|24057|356000000|2800000000|    181|
|429617|Spider-Man: Far F...|      85.298|2019-06-28|7.445|14619|160000000|1131927996|    129|
|497698|         Black Widow|       70.52|2021-07-07|7.292| 9407|200000000| 379751131|    134|
|566525|Shang-Chi and the...|      95.484|2021-09-01| 7.58| 8597|150000000| 432243292|    132|
|524434|            Eternals|      91.401|2021-11-03|6.917| 7592|200000000| 402064899|    156|
|634649|Spider-Man: No Wa...|     259.813|2021-12-15|  8.0|18501|200000000|1921847111|    148|
|453395|Doctor Strange in...|     134.036|2022-05-04|  7.3| 8130|200000000| 955775804|    126|
|616037|Thor: Love and Th...|     131.623|2022-07-06|6.508| 6634|250000000| 760928081|    119|
|505642|Black Panther: Wa...|     157.956|2022-11-09|7.173| 5611|250000000| 859102154|    162|
|640146|Ant-Man and the W...|      158.72|2023-02-15|6.402| 4179|200000000| 476071180|    125|
|447365|Guardians of the ...|     244.638|2023-05-03|8.009| 5291|250000000| 845430302|    150|
+------+--------------------+------------+----------+-----+-----+---------+----------+-------+

In [8]:
#df_spark.createOrReplaceGlobalTempView("filmes")
#spark.sql("select * from global_temp.filmes").show()
#resultado = spark.sql("SELECT *, CASE WHEN Titulo LIKE 'Avengers%' THEN 'Não' ELSE 'Sim' END AS Solo FROM filmes")

#Aqui estava foi a tentativa de criar uma coluna que filtrasse os filmes solos dos herois.

In [9]:
df_spark = df_spark.withColumn("Vingadores", when(df_spark["Titulo"].contains("Avengers"), "Sim").otherwise("Não"))

#Filtro feito dessa maneira, onde criei uma coluna chamada "Vingadores" que me diz se esse filme é dos vingadores ou não.

In [16]:
df_spark.write.saveAsTable("df_sparktb")

In [15]:
#df_spark.write.format("parquet").save("C:\\Users\\victo\\Downloads\\DATA E ANALYTICS\\Documentos\\Sprint_9\\tabela\\")

In [17]:
spark.sql("show tables").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|  default|  df_spark|      false|
|  default|df_sparktb|      false|
+---------+----------+-----------+

In [23]:
spark.sql("select * from df_sparktb").show()

+------+--------------------+------------+----------+-----+-----+---------+----------+-------+----------+
|    Id|              Titulo|Popularidade|Lancamento| Nota|Votos|Orçamento|   Receita|Duração|Vingadores|
+------+--------------------+------------+----------+-----+-----+---------+----------+-------+----------+
|  1726|            Iron Man|      93.707|2008-04-30|7.639|25035|140000000| 585174222|    126|       Não|
|  1724| The Incredible Hulk|      65.123|2008-06-12|6.206|11093|150000000| 163712074|    114|       Não|
| 10138|          Iron Man 2|      99.198|2010-04-28|6.835|19878|200000000| 623933331|    124|       Não|
| 10195|                Thor|      82.222|2011-04-21|6.767|20132|150000000| 449326618|    115|       Não|
|  1771|Captain America: ...|      56.576|2011-07-22|6.995|20383|140000000| 370569774|    124|       Não|
| 24428|        The Avengers|     125.405|2012-04-25|7.711|29325|220000000|1518815515|    143|       Sim|
| 68721|          Iron Man 3|      71.806|2013-04-18|6.927|21181|200000000|1215577205|    130|       Não|
| 76338|Thor: The Dark World|      75.254|2013-10-30|6.534|16460|170000000| 644783140|    112|       Não|
|100402|Captain America: ...|      39.976|2014-03-20|7.669|17809|170000000| 714766572|    136|       Não|
|118340|Guardians of the ...|      39.039|2014-07-30|  7.9|26800|170000000| 772776600|    121|       Não|
| 99861|Avengers: Age of ...|      99.824|2015-04-22|  7.3|21893|365000000|1405403694|    141|       Sim|
|102899|             Ant-Man|      61.242|2015-07-14|7.081|18835|130000000| 519311965|    117|       Não|
|271110|Captain America: ...|     101.612|2016-04-27|7.442|21666|250000000|1155046416|    147|       Não|
|284052|      Doctor Strange|      71.359|2016-10-25|7.426|21051|180000000| 676343174|    115|       Não|
|283995|Guardians of the ...|      67.355|2017-04-19|7.622|20487|200000000| 863756051|    137|       Não|
|315635|Spider-Man: Homec...|      88.429|2017-07-05|7.343|20636|175000000| 880166924|    133|       Não|
|284053|      Thor: Ragnarok|      107.72|2017-10-02|7.595|19664|180000000| 855301806|    131|       Não|
|284054|       Black Panther|      77.256|2018-02-13|7.388|21165|200000000|1349926083|    135|       Não|
|299536|Avengers: Infinit...|     198.291|2018-04-25|  8.3|27943|300000000|2052415039|    149|       Sim|
|363088|Ant-Man and the Wasp|      44.228|2018-07-04|6.949|12594|140000000| 622674139|    119|       Não|
+------+--------------------+------------+----------+-----+-----+---------+----------+-------+----------+
only showing top 20 rows